@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(5.2% 0.005 285.82);
  --foreground: oklch(96.96% 0.014 120);
  
  --card: oklch(12.5% 0.006 286);
  --card-foreground: oklch(96.96% 0.014 120);
  
  --popover: oklch(12.5% 0.006 286);
  --popover-foreground: oklch(96.96% 0.014 120);
  
  --primary: oklch(59.91% 0.207 15.3);
  --primary-foreground: oklch(96.96% 0.014 120);
  
  --secondary: oklch(55.4% 0.083 230.17);
  --secondary-foreground: oklch(96.96% 0.014 120);

  --muted: oklch(12.5% 0.006 286);
  --muted-foreground: oklch(60% 0.014 120);
  
  --accent: oklch(55.4% 0.083 230.17);
  --accent-foreground: oklch(96.96% 0.014 120);
  
  --destructive: oklch(80.12% 0.198 80.32);
  --success: oklch(80.52% 0.153 160.73);

  --border: oklch(20% 0.006 286);
  --input: oklch(20% 0.006 286);
  --ring: oklch(55.4% 0.083 230.17);
}

.dark {
  --radius: 0.625rem;
  --background: oklch(5.2% 0.005 285.82);
  --foreground: oklch(96.96% 0.014 120);
  
  --card: oklch(12.5% 0.006 286);
  --card-foreground: oklch(96.96% 0.014 120);
  
  --popover: oklch(12.5% 0.006 286);
  --popover-foreground: oklch(96.96% 0.014 120);
  
  --primary: oklch(59.91% 0.207 15.3);
  --primary-foreground: oklch(96.96% 0.014 120);
  
  --secondary: oklch(55.4% 0.083 230.17);
  --secondary-foreground: oklch(96.96% 0.014 120);

  --muted: oklch(12.5% 0.006 286);
  --muted-foreground: oklch(60% 0.014 120);
  
  --accent: oklch(55.4% 0.083 230.17);
  --accent-foreground: oklch(96.96% 0.014 120);
  
  --destructive: oklch(80.12% 0.198 80.32);
  --success: oklch(80.52% 0.153 160.73);

  --border: oklch(20% 0.006 286);
  --input: oklch(20% 0.006 286);
  --ring: oklch(55.4% 0.083 230.17);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}